.mainContent {
  background-image: url(../../assets/hero1.png);
  background-repeat: no-repeat;
  background-position: 23rem ;
  background-size: 90%;
  height: 90vh;
}
.navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-main {
  width: 12rem;
  height: auto;
}

.nav-main a {
  padding-left: 5rem;
  font-size: 1.9rem;
  color: black;
}

.nav-main a:hover {
  padding-left: 5rem;
  font-size: 1.9rem;
  color: var(--primario);
}
